VLLM_ROOT="/root/dsv4-afd-hccl/src/vllm-release-v0.23.0"
VLLM_ASCEND_ROOT="/root/dsv4-afd-hccl/src/vllm-ascend-rfc-vllm-cann"
AFD_SOURCE_ROOT="/root/dsv4-afd-hccl/src/afd-plugin-phase1-a5-dspark-mxfp"
AFD_TARGET_ROOT="/root/dsv4-afd-hccl/src/afd-plugin-phase1-a5-dspark-official"
VENV_ROOT="/root/dsv4-afd-hccl/venv"
