VLLM_ASCEND_ROOT="/root/dsv4-afd-hccl/src/vllm-ascend-rfc-vllm-cann"
AFD_SOURCE_ROOT="/root/dsv4-afd-hccl/src/afd-plugin-phase1-a5-dspark-66ec72f"
AFD_TARGET_ROOT="/root/dsv4-afd-hccl/src/afd-plugin-phase1-a5-dspark-mxfp"
VENV_ROOT="/root/dsv4-afd-hccl/venv"
MODEL_PATH="/home/models/DeepSeek-V4-Flash-DSpark"
